<form>
    <img src="assets/gestao.png">

    <input type="text"   placeholder="Título"   class="form-control" name="titulo"   [(ngModel)]="cliente.titulo">                  
    <input type="text"   placeholder="Descrição"  class="form-control" name="descricao"  [(ngModel)]="cliente.descricao">
    <input type="text"   placeholder="Data e Hora" class="form-control" name="dataHoraEvento" [(ngModel)]="cliente.dataHoraEvento">
    <input type="text"   placeholder="Local" class="form-control" name="local" [(ngModel)]="cliente.local">
    <input type="text"   placeholder="id" class="form-control" name="id" [(ngModel)]="cliente.id">

    <input type="button" value="Cadastrar"  *ngIf="btnCadastro"   class="btn btn-primary"   (click)="cadastrar()">
    <input type="button" value="Alterar"    *ngIf="!btnCadastro"  class="btn btn-warning"   (click)="editar()">
    <input type="button" value="Remover"    *ngIf="!btnCadastro"  class="btn btn-danger"    (click)="remover()">
    <input type="button" value="Cancelar"   *ngIf="!btnCadastro"  class="btn btn-secondary" (click)="cancelar()">
</form>

<table class="table" *ngIf="tabela">
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data e Hora</th>
            <th>Local</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of clientes; index as i">
            <td>{{i+1}}</td>
            <td>{{c.titulo}}</td>
            <td>{{c.descricao}}</td>
            <td>{{c.dataHoraEvento}}</td>
            <td>{{c.local}}</td>
            <td><button class="btn btn-success" (click)="selecionarCliente(i)">Selecionar</button></td>
        </tr>
    </tbody>
</table>